In [2]:
import pandas as pd

df = pd.read_csv(r'C:\Users\RB\Desktop\testing\TestCSVData.csv', sep = ',', encoding = 'UTF8', header = None)
#df = pd.read_csv('C:\Users\RB\Desktop\testing\TestCSVData.csv', sep = ',', header = None)

df1 = df.head(5)
norecs = len(df1)
df1

,0,1,2,3,4,5,6,7,8,9,...,538,539,540,541,542,543,544,545,546,547
0,1,302.230,299.15,305.300,310.420,306.460,309.820,286.610,158.390,261.580,...,432.340,422.880,403.450,56.660,399.160,371.030,354.160,349.020,353.710,55.790
1,2,104.500,154.90,163.450,164.550,144.100,148.150,258.250,271.525,272.150,...,1585.100,1583.650,1079.075,96.700,1660.250,1318.350,1627.675,1714.475,83.950,84.125
2,3,1556.975,2024.00,3175.000,4032.000,3885.000,8419.000,4101.000,2415.000,2506.000,...,2530.000,1781.000,1388.000,1742.000,2713.000,2904.000,2435.000,2492.000,2409.000,1736.000
3,4,749.079,1367.44,1462.198,1391.979,1361.691,1301.335,791.599,724.873,1180.652,...,1833.849,1656.483,1201.072,1079.501,1613.429,1609.674,1493.868,1599.572,1087.844,941.791
4,5,227.327,5019.50,5213.500,5016.000,5594.500,4570.500,1054.500,702.500,3902.000,...,5989.000,2333.500,1401.500,2428.500,4976.000,5372.000,6111.500,6314.000,4378.000,1469.000

In [3]:
norecs

5

In [4]:
Dflast = df1[(norecs-1) : norecs]
Dflast

,0,1,2,3,4,5,6,7,8,9,...,538,539,540,541,542,543,544,545,546,547
4,5,227.327,5019.5,5213.5,5016.0,5594.5,4570.5,1054.5,702.5,3902.0,...,5989.0,2333.5,1401.5,2428.5,4976.0,5372.0,6111.5,6314.0,4378.0,1469.0

In [7]:
x = Dflast.to_string(header=False,
                  index=False,
                  index_names=False).split('\n')
Dflast_list = [','.join(ele.split()) for ele in x]
print(Dflast_list)

['5,227.327,5019.5,5213.5,5016.0,5594.5,4570.5,1054.5,702.5,3902.0,5175.5,5240.5,4954.5,4343.5,2145.5,703.0,1546.5,3522.5,4211.5,3537.5,3581.5,3302.5,827.0,766.0,3950.0,4369.0,5398.5,5402.5,959.0,701.5,5109.0,4588.5,5155.0,5279.5,5030.5,1734.5,561.0,2602.0,5321.0,5408.5,6503.5,6248.5,4245.0,657.5,722.5,4734.0,6019.0,5211.0,4784.0,804.5,678.0,3849.5,5801.5,5843.0,6032.5,6245.0,3582.0,702.5,3067.5,6077.0,6536.5,6982.5,6848.5,4802.0,675.5,868.5,6095.5,5395.0,7128.5,6165.0,5186.0,714.5,3592.5,5145.0,5240.5,5909.0,5165.5,1305.5,631.5,3631.5,5505.0,5010.0,6034.5,6095.0,3643.5,1431.0,2285.5,5659.5,6664.0,6292.0,4601.5,5073.5,818.0,760.5,4926.0,6724.5,4104.0,957.5,835.5,634.5,949.5,5741.0,7327.0,7031.0,6482.0,2399.5,1493.0,2851.5,5415.5,5511.0,5607.0,7070.0,5779.0,1487.5,1481.5,6717.0,6997.0,6669.5,7411.0,1722.0,717.0,5521.0,1535.5,6346.0,6500.0,7483.5,4604.0,1496.0,4730.0,5579.5,4393.5,4688.0,4927.5,3720.5,697.0,1604.5,6292.5,6274.0,6284.0,1236.5,5182.0,671.5,4924.0,4708.0,5072.5,5107.0,4867.0,1456.0,643.0,1218.0,3665.0,6041.0,6817.0,6735.5,3987.5,752.0,1865.0,6766.5,5429.0,4762.5,1356.0,4507.0,987.5,775.0,6094.0,4705.5,5419.0,5580.0,1504.0,622.5,4445.0,5678.0,5438.0,6056.0,6184.0,4051.0,713.0,2001.0,5869.5,6621.5,6664.5,7470.5,6437.5,1161.5,771.0,6193.0,7399.5,6870.5,7036.5,2032.0,1320.0,4770.5,7529.0,6484.0,7107.5,6926.0,4170.5,1398.5,3356.5,6298.5,6772.5,7840.5,6806.0,5269.0,2153.5,1562.5,6928.5,6797.5,8079.0,7384.5,1995.5,1408.5,6564.5,8733.0,7752.5,8486.0,8370.5,6351.0,1391.5,5523.5,9799.0,8095.5,8889.0,7770.0,7040.5,2246.0,2421.0,7664.5,8331.5,8319.5,7816.0,6599.0,3208.0,4707.63,8449.0,7219.0,7001.0,6327.5,6016.5,2084.0,3350.5,6623.0,7809.5,7030.0,7340.0,6319.5,2787.0,1933.5,7436.5,6978.0,8421.5,6754.0,5136.0,1410.0,6428.5,6967.0,6889.5,7069.5,7863.5,5987.5,815.5,3824.0,5699.0,6022.5,6042.0,6528.5,5105.5,1501.5,1353.0,5767.0,6941.0,5813.5,6252.0,1336.5,706.5,6909.0,7745.5,2779.5,6577.0,7476.5,1518.5,633.5,2986.5,7093.0,7015.0,7644.0,7126.0,7904.5,1206.0,2990.5,8055.0,6952.0,7101.5,7572.0,7333.5,3123.5,6880.5,7866.0,7571.0,8172.5,8445.0,6866.0,2189.5,6515.5,6994.5,8003.5,8057.5,7983.5,8404.5,1952.0,5058.0,8457.0,9055.0,7375.5,7281.5,7490.5,5230.0,3665.5,8221.0,7405.0,8274.0,8128.0,6326.5,686.0,6144.0,7975.0,7374.5,8532.0,7537.5,7740.5,2803.0,5531.0,8997.5,7904.5,7940.0,8112.5,7262.5,3258.0,3062.0,7482.5,7746.5,8488.5,8109.0,6411.5,1902.0,6231.0,5848.0,6293.0,6756.0,7125.0,4954.0,968.0,3102.0,5774.0,6470.0,6369.5,6944.0,6745.5,2701.5,1388.0,1406.0,1419.0,1446.0,7189.5,2027.0,935.0,933.5,921.444,1466.5,4770.5,6283.5,4985.5,1516.0,1262.0,6160.5,6166.5,7175.0,6738.5,2963.5,1747.0,5364.5,5806.0,5891.0,6859.5,5108.0,3285.0,1020.5,3263.0,5939.0,6291.0,6082.0,6307.5,4883.5,1722.0,1994.5,5651.5,5257.0,5074.0,3750.36,1670.5,1612.5,4613.5,5592.0,5328.5,5302.0,5377.0,3425.0,1496.5,2031.0,6250.0,5615.5,5364.0,7006.0,5976.5,819.5,684.0,4660.0,4408.5,6086.5,5731.5,1461.0,986.0,4601.5,5724.0,5084.5,5606.0,1550.36,3956.5,807.5,726.0,5006.5,5477.5,6350.0,4362.5,1011.5,677.5,4619.0,5051.0,5206.0,4239.0,4399.5,2385.5,962.5,3936.0,5701.0,6062.5,5891.0,5613.0,5481.0,1509.0,3222.5,7322.5,7750.0,8530.5,7504.0,1809.5,2689.5,1218.79,2777.0,8090.5,8091.5,6887.5,8892.5,3535.0,3136.5,9132.5,9008.0,8043.5,8088.5,4047.5,1426.5,7156.5,7072.0,7436.5,6910.5,7180.0,5121.0,1453.5,4662.0,7487.0,7750.0,7528.5,7942.0,6300.5,2075.0,3553.0,7068.0,1463.566,6439.0,7213.0,3972.5,836.0,7897.0,7479.0,6811.5,5063.5,5953.0,3527.5,1936.0,4430.5,8260.5,8901.0,7395.5,7235.5,6267.5,1929.0,1688.0,3215.0,7691.5,7818.5,7436.5,5993.0,2980.5,6797.5,6564.0,7066.5,4046.0,5367.0,2153.296,1488.0,5402.5,6783.5,7016.5,6185.0,5988.0,5209.5,1117.5,1925.5,5753.5,5288.5,4447.5,4058.0,1148.0,713.5,4704.5,6359.0,6796.5,5661.5,5989.0,2333.5,1401.5,2428.5,4976.0,5372.0,6111.5,6314.0,4378.0,1469.0']

In [8]:
type(Dflast_list)

list

In [9]:
Dflast_str = str(Dflast_list[0])

In [10]:
type(Dflast_str)

str

In [11]:
ProdMsgValue=Dflast_str.encode('utf-8')

In [12]:
type(ProdMsgValue)

bytes

In [13]:
# assign this field to the value field in the send command

In [14]:
# producer.send(topicName, key=str(msgKey).encode('utf-8'), value = ProdMsgValue )